# Python
__pycache__/
*.py[cod]
*$py.class

# Django / general Python web projects
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.env.local
.env.*
text.text

#username: super_admin
#email: superadmin@example.com
#password: 1-8